/* line 95, icon/*.png */
.icon-sprite, .icon-download:after, .icon-check:after, .icon-go:after, .icon-more:after, .icon-mail:after, .icon-pdf:after, .icon-search:after {
  background-image: url('../img/icon-s60b0c5a160.png');
  background-repeat: no-repeat; }

/* line 5, ../scss/flat/_cta.scss */
.cta {
  display: inline-block;
  padding: 0 1em;
  margin: 0.25em;
  color: #FCFCFC;
  font: normal 1em Arial, Helvetica, sans-serif;
  line-height: 2.5em;
  text-decoration: none;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s; }
  /* line 22, ../scss/flat/_cta.scss */
  .cta:after {
    content: " ";
    display: block;
    float: right;
    position: relative;
    top: 0.3em;
    left: 0.5em;
    opacity: 0.8; }
  /* line 32, ../scss/flat/_cta.scss */
  .cta.cta-small:after {
    top: 0.1em;
    left: 0.5em; }
  /* line 37, ../scss/flat/_cta.scss */
  .cta.cta-big:after {
    top: 0.6em;
    left: 0.5em; }
  /* line 42, ../scss/flat/_cta.scss */
  .cta.cta-huge:after {
    top: 0.7em;
    left: 0.5em; }
  /* line 47, ../scss/flat/_cta.scss */
  .cta.cta-subhead:after {
    top: -1.4em;
    left: 1.7em; }

/* line 59, ../scss/flat/_cta.scss */
.cta-red {
  background-color: #cf1c1c;
  color: white; }
  /* line 5, ../scss/flat/_mixins.scss */
  .cta-red:hover {
    background-color: #e33131; }
  /* line 10, ../scss/flat/_mixins.scss */
  .cta-red:active, .cta-red:focus {
    background-color: #e85555; }

/* line 59, ../scss/flat/_cta.scss */
.cta-green {
  background-color: #00b638;
  color: white; }
  /* line 5, ../scss/flat/_mixins.scss */
  .cta-green:hover {
    background-color: #00d040; }
  /* line 10, ../scss/flat/_mixins.scss */
  .cta-green:active, .cta-green:focus {
    background-color: #00e948; }

/* line 59, ../scss/flat/_cta.scss */
.cta-blue {
  background-color: #0073cc;
  color: white; }
  /* line 5, ../scss/flat/_mixins.scss */
  .cta-blue:hover {
    background-color: #0087f0; }
  /* line 10, ../scss/flat/_mixins.scss */
  .cta-blue:active, .cta-blue:focus {
    background-color: #1499ff; }

/* line 59, ../scss/flat/_cta.scss */
.cta-yellow {
  background-color: #ffeb00;
  color: #222222; }
  /* line 5, ../scss/flat/_mixins.scss */
  .cta-yellow:hover {
    background-color: #fff14d; }
  /* line 10, ../scss/flat/_mixins.scss */
  .cta-yellow:active, .cta-yellow:focus {
    background-color: #fff799; }

/* line 70, ../scss/flat/_cta.scss */
.icon-download:after {
  background-position: 0 -62px;
  height: 32px;
  width: 32px; }

/* line 70, ../scss/flat/_cta.scss */
.icon-check:after {
  background-position: 0 0;
  height: 32px;
  width: 32px; }

/* line 70, ../scss/flat/_cta.scss */
.icon-go:after {
  background-position: 0 -124px;
  height: 32px;
  width: 32px; }

/* line 70, ../scss/flat/_cta.scss */
.icon-more:after {
  background-position: 0 -248px;
  height: 32px;
  width: 32px; }

/* line 70, ../scss/flat/_cta.scss */
.icon-mail:after {
  background-position: 0 -186px;
  height: 32px;
  width: 32px; }

/* line 70, ../scss/flat/_cta.scss */
.icon-pdf:after {
  background-position: 0 -310px;
  height: 32px;
  width: 32px; }

/* line 70, ../scss/flat/_cta.scss */
.icon-search:after {
  background-position: 0 -372px;
  height: 32px;
  width: 32px; }

/* line 76, ../scss/flat/_cta.scss */
.cta-small {
  font-size: 0.9em; }

/* line 80, ../scss/flat/_cta.scss */
.cta-big {
  font-size: 1.3em; }

/* line 84, ../scss/flat/_cta.scss */
.cta-huge {
  font-size: 1.6em; }

/* line 88, ../scss/flat/_cta.scss */
.cta-subhead {
  padding: 0.75em 2.2em 0.75em 0.75em;
  font-size: 1.75em;
  height: 1.5em;
  line-height: 1em; }

/* line 95, ../scss/flat/_cta.scss */
.cta-subhead i {
  width: 100%;
  display: block;
  color: #EEE;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  font-size: 0.4em; }
