/* line 1, ../scss/flat/_cta.scss */
.cta-red {
  display: inline-block;
  padding: 0 20px;
  margin: 5px;
  color: #FCFCFC;
  font: normal 18px Arial, Helvetica, sans-serif;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  background-color: #d23a37;
}
/* line 29, ../scss/flat/_mixins.scss */
.cta-red:hover {
  background-color: #d95b58;
}
/* line 34, ../scss/flat/_mixins.scss */
.cta-red:active, .cta-red:focus {
  background-color: #e17c7a;
}

/* line 5, ../scss/flat/_cta.scss */
.cta-green {
  display: inline-block;
  padding: 0 20px;
  margin: 5px;
  color: #FCFCFC;
  font: normal 18px Arial, Helvetica, sans-serif;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  background-color: #00b638;
}
/* line 29, ../scss/flat/_mixins.scss */
.cta-green:hover {
  background-color: #00d040;
}
/* line 34, ../scss/flat/_mixins.scss */
.cta-green:active, .cta-green:focus {
  background-color: #00e948;
}

/* line 9, ../scss/flat/_cta.scss */
.cta-blue {
  display: inline-block;
  padding: 0 20px;
  margin: 5px;
  color: #FCFCFC;
  font: normal 18px Arial, Helvetica, sans-serif;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  background-color: #0073cc;
}
/* line 29, ../scss/flat/_mixins.scss */
.cta-blue:hover {
  background-color: #0087f0;
}
/* line 34, ../scss/flat/_mixins.scss */
.cta-blue:active, .cta-blue:focus {
  background-color: #1499ff;
}

/* line 13, ../scss/flat/_cta.scss */
.cta-yellow {
  display: inline-block;
  padding: 0 20px;
  margin: 5px;
  color: #FCFCFC;
  font: normal 18px Arial, Helvetica, sans-serif;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  background-color: #ffeb00;
  color: #444444;
}
/* line 29, ../scss/flat/_mixins.scss */
.cta-yellow:hover {
  background-color: #fff14d;
}
/* line 34, ../scss/flat/_mixins.scss */
.cta-yellow:active, .cta-yellow:focus {
  background-color: #fff799;
}

/* line 21, ../scss/flat/_cta.scss */
.icon-download,
.icon-check,
.icon-go,
.icon-more {
  display: block;
  height: 50px;
  background: transparent url(sprite.png) no-repeat;
}

/* line 27, ../scss/flat/_cta.scss */
.icon-download, .icon-check {
  margin-left: -5px;
  padding-left: 37px;
}

/* line 32, ../scss/flat/_cta.scss */
.icon-go, .icon-more {
  margin-right: -5px;
  padding-right: 40px;
}

/* line 37, ../scss/flat/_cta.scss */
.icon-download {
  background-position: 0 -141px;
}

/* line 38, ../scss/flat/_cta.scss */
.icon-check {
  background-position: 0 -66px;
}

/* line 39, ../scss/flat/_cta.scss */
.icon-more {
  background-position: right 10px;
}

/* line 40, ../scss/flat/_cta.scss */
.icon-go {
  background-position: right -212px;
}

/* line 42, ../scss/flat/_cta.scss */
.cta-small {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}

/* line 48, ../scss/flat/_cta.scss */
.cta-small .icon-more {
  background-position: right 5px;
  height: 35px;
}

/* line 49, ../scss/flat/_cta.scss */
.cta-small .icon-check {
  background-position: 0 -72px;
  height: 35px;
}

/* line 50, ../scss/flat/_cta.scss */
.cta-small .icon-download {
  background-position: 0 -147px;
  height: 35px;
}

/* line 51, ../scss/flat/_cta.scss */
.cta-small .icon-go {
  background-position: right -219px;
  height: 35px;
}

/* line 53, ../scss/flat/_cta.scss */
.cta-big {
  font-size: 22px;
  height: 60px;
  line-height: 60px;
}

/* line 59, ../scss/flat/_cta.scss */
.cta-big .icon-download {
  background-position: 0 -136px;
  height: 60px;
}

/* line 60, ../scss/flat/_cta.scss */
.cta-big .icon-check {
  background-position: 0 -61px;
  height: 60px;
}

/* line 61, ../scss/flat/_cta.scss */
.cta-big .icon-more {
  background-position: right 15px;
  height: 60px;
}

/* line 62, ../scss/flat/_cta.scss */
.cta-big .icon-go {
  background-position: right -207px;
  height: 60px;
}

/* line 64, ../scss/flat/_cta.scss */
.cta-huge {
  font-size: 26px;
  height: 76px;
  line-height: 76px;
  padding: 0 26px;
}

/* line 71, ../scss/flat/_cta.scss */
.cta-huge .icon-download {
  background-position: 0 -128px;
  height: 76px;
}

/* line 72, ../scss/flat/_cta.scss */
.cta-huge .icon-check {
  background-position: 0 -53px;
  height: 76px;
}

/* line 73, ../scss/flat/_cta.scss */
.cta-huge .icon-more {
  background-position: right 23px;
  height: 76px;
}

/* line 74, ../scss/flat/_cta.scss */
.cta-huge .icon-go {
  background-position: right -199px;
  height: 76px;
}

/* line 76, ../scss/flat/_cta.scss */
.cta-subhead {
  padding: 20px 30px;
  font-size: 26px;
  line-height: 26px;
}

/* line 82, ../scss/flat/_cta.scss */
.cta-subhead i {
  color: #DDD;
  font-weight: normal;
  font-style: normal;
  display: block;
  line-height: 26px;
  font-size: 14px;
}
