/* line 1, ../scss/cta.scss */
.cta {
  display: inline-block;
  padding: 0 20px;
  margin: 5px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  font: bold 18px Arial, Helvetica, sans-serif;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
}

/* line 26, ../scss/cta.scss */
.cta:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 40, ../scss/cta.scss */
.cta:hover,
.cta:active {
  color: #FFF;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

/* line 47, ../scss/cta.scss */
.cta-red, .cta-green, .cta-blue, .cta-yellow {
  -webkit-transition: all .218s;
  -moz-transition: all .218s;
  -o-transition: all .218s;
  transition: all .218s;
}

/* line 54, ../scss/cta.scss */
.cta-red {
  border: solid 1px #b8473d;
  background-color: #f36c4d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f36c4d), to(#ef3e29));
  background-image: -webkit-linear-gradient(top, #f36c4d, #ef3e29);
  background-image: -moz-linear-gradient(top, #f36c4d, #ef3e29);
  background-image: -o-linear-gradient(top, #f36c4d, #ef3e29);
  background-image: linear-gradient(to bottom, #f36c4d, #ef3e29);
}

/* line 64, ../scss/cta.scss */
.cta-red:before {
  border: solid 1px #f67b5f;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

/* line 70, ../scss/cta.scss */
.cta-red:hover {
  border: solid 1px #90332b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb856a), to(#f7523f));
  background-image: -webkit-linear-gradient(top, #fb856a, #f7523f);
  background-image: -moz-linear-gradient(top, #fb856a, #f7523f);
  background-image: -o-linear-gradient(top, #fb856a, #f7523f);
  background-image: linear-gradient(to bottom, #fb856a, #f7523f);
}

/* line 79, ../scss/cta.scss */
.cta-red:active {
  border: solid 1px #90332b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef3e29), to(#f36c4d));
  background-image: -webkit-linear-gradient(top, #ef3e29, #f36c4d);
  background-image: -moz-linear-gradient(top, #ef3e29, #f36c4d);
  background-image: -o-linear-gradient(top, #ef3e29, #f36c4d);
  background-image: linear-gradient(to bottom, #ef3e29, #f36c4d);
}

/* line 88, ../scss/cta.scss */
.cta-green {
  border: solid 1px #00922d;
  background-color: #00B638;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50de76), to(#00b638));
  background-image: -webkit-linear-gradient(top, #50de76, #00b638);
  background-image: -moz-linear-gradient(top, #50de76, #00b638);
  background-image: -o-linear-gradient(top, #50de76, #00b638);
  background-image: linear-gradient(to bottom, #50de76, #00b638);
}

/* line 98, ../scss/cta.scss */
.cta-green:before {
  border: solid 1px #78e695;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

/* line 104, ../scss/cta.scss */
.cta-green:hover {
  border: solid 1px #006e22;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cec82), to(#00c43c));
  background-image: -webkit-linear-gradient(top, #5cec82, #00c43c);
  background-image: -moz-linear-gradient(top, #5cec82, #00c43c);
  background-image: -o-linear-gradient(top, #5cec82, #00c43c);
  background-image: linear-gradient(to bottom, #5cec82, #00c43c);
}

/* line 113, ../scss/cta.scss */
.cta-green:active {
  border: solid 1px #006e22;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00b638), to(#50de76));
  background-image: -webkit-linear-gradient(top, #00b638, #50de76);
  background-image: -moz-linear-gradient(top, #00b638, #50de76);
  background-image: -o-linear-gradient(top, #00b638, #50de76);
  background-image: linear-gradient(to bottom, #00b638, #50de76);
}

/* line 122, ../scss/cta.scss */
.cta-blue {
  border: solid 1px #0870c0;
  background-color: #007BDA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#007bda));
  background-image: -webkit-linear-gradient(top, #00c6ff, #007bda);
  background-image: -moz-linear-gradient(top, #00c6ff, #007bda);
  background-image: -o-linear-gradient(top, #00c6ff, #007bda);
  background-image: linear-gradient(to bottom, #00c6ff, #007bda);
}

/* line 132, ../scss/cta.scss */
.cta-blue:before {
  border: solid 1px #3bb4ec;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

/* line 138, ../scss/cta.scss */
.cta-blue:hover {
  border: solid 1px #065491;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#21cdff), to(#0387ec));
  background-image: -webkit-linear-gradient(top, #21cdff, #0387ec);
  background-image: -moz-linear-gradient(top, #21cdff, #0387ec);
  background-image: -o-linear-gradient(top, #21cdff, #0387ec);
  background-image: linear-gradient(to bottom, #21cdff, #0387ec);
}

/* line 147, ../scss/cta.scss */
.cta-blue:active {
  border: solid 1px #065491;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007bda), to(#00c6ff));
  background-image: -webkit-linear-gradient(top, #007bda, #00c6ff);
  background-image: -moz-linear-gradient(top, #007bda, #00c6ff);
  background-image: -o-linear-gradient(top, #007bda, #00c6ff);
  background-image: linear-gradient(to bottom, #007bda, #00c6ff);
}

/* line 156, ../scss/cta.scss */
.cta-yellow {
  border: solid 1px #db8300;
  background-color: #FF9900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9900));
  background-image: -webkit-linear-gradient(top, #ffcc00, #ff9900);
  background-image: -moz-linear-gradient(top, #ffcc00, #ff9900);
  background-image: -o-linear-gradient(top, #ffcc00, #ff9900);
  background-image: linear-gradient(to bottom, #ffcc00, #ff9900);
}

/* line 166, ../scss/cta.scss */
.cta-yellow:before {
  border: solid 1px #ffc63b;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

/* line 172, ../scss/cta.scss */
.cta-yellow:hover {
  border: solid 1px #ad6800;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd322), to(#ffa51f));
  background-image: -webkit-linear-gradient(top, #ffd322, #ffa51f);
  background-image: -moz-linear-gradient(top, #ffd322, #ffa51f);
  background-image: -o-linear-gradient(top, #ffd322, #ffa51f);
  background-image: linear-gradient(to bottom, #ffd322, #ffa51f);
}

/* line 181, ../scss/cta.scss */
.cta-yellow:active {
  border: solid 1px #ad6800;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ffcc00));
  background-image: -webkit-linear-gradient(top, #ff9900, #ffcc00);
  background-image: -moz-linear-gradient(top, #ff9900, #ffcc00);
  background-image: -o-linear-gradient(top, #ff9900, #ffcc00);
  background-image: linear-gradient(to bottom, #ff9900, #ffcc00);
}

<<<<<<< HEAD
/* line 190, ../scss/cta.scss */
=======
/* line 193, ../scss/cta.scss */
>>>>>>> origin/master
.icon-download,
.icon-check,
.icon-go,
.icon-more {
  display: block;
  height: 50px;
  background: transparent url(sprite.png) no-repeat;
}

/* line 199, ../scss/cta.scss */
.icon-download, .icon-check {
  margin-left: -5px;
  padding-left: 37px;
}

/* line 204, ../scss/cta.scss */
.icon-go, .icon-more {
  margin-right: -5px;
  padding-right: 40px;
}

/* line 209, ../scss/cta.scss */
.icon-download {
  background-position: 0 -141px;
}

/* line 210, ../scss/cta.scss */
.icon-check {
  background-position: 0 -66px;
}

/* line 211, ../scss/cta.scss */
.icon-more {
  background-position: right 10px;
}

/* line 212, ../scss/cta.scss */
.icon-go {
  background-position: right -212px;
}

/* line 214, ../scss/cta.scss */
.cta-small {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}

/* line 220, ../scss/cta.scss */
.cta-small .icon-more {
  background-position: right 5px;
  height: 35px;
}

/* line 221, ../scss/cta.scss */
.cta-small .icon-check {
  background-position: 0 -72px;
  height: 35px;
}

/* line 222, ../scss/cta.scss */
.cta-small .icon-download {
  background-position: 0 -147px;
  height: 35px;
}

/* line 223, ../scss/cta.scss */
.cta-small .icon-go {
  background-position: right -219px;
  height: 35px;
}

/* line 225, ../scss/cta.scss */
.cta-big {
  font-size: 22px;
  height: 60px;
  line-height: 60px;
}

/* line 231, ../scss/cta.scss */
.cta-big .icon-download {
  background-position: 0 -136px;
  height: 60px;
}

/* line 232, ../scss/cta.scss */
.cta-big .icon-check {
  background-position: 0 -61px;
  height: 60px;
}

/* line 233, ../scss/cta.scss */
.cta-big .icon-more {
  background-position: right 15px;
  height: 60px;
}

/* line 234, ../scss/cta.scss */
.cta-big .icon-go {
  background-position: right -207px;
  height: 60px;
}

/* line 236, ../scss/cta.scss */
.cta-huge {
  font-size: 26px;
  height: 76px;
  line-height: 76px;
  padding: 0 26px;
}

/* line 243, ../scss/cta.scss */
.cta-huge .icon-download {
  background-position: 0 -128px;
  height: 76px;
}

/* line 244, ../scss/cta.scss */
.cta-huge .icon-check {
  background-position: 0 -53px;
  height: 76px;
}

/* line 245, ../scss/cta.scss */
.cta-huge .icon-more {
  background-position: right 23px;
  height: 76px;
}

/* line 246, ../scss/cta.scss */
.cta-huge .icon-go {
  background-position: right -199px;
  height: 76px;
}

/* line 248, ../scss/cta.scss */
.cta-subhead {
  padding: 20px 30px;
  font-size: 26px;
  line-height: 26px;
}

/* line 254, ../scss/cta.scss */
.cta-subhead i {
  color: #000;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0;
  font-weight: normal;
  font-style: normal;
  display: block;
  line-height: 26px;
  font-size: 14px;
}
