.cta {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  font: bold 18px Arial, Helvetica, sans-serif;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
}

.cta:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.cta:hover,
.cta:active {
  color: #FFF;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.cta-red, .cta-green, .cta-blue, .cta-yellow {
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
}

.cta-red {
  border: solid 1px #b8473d;
  background-color: #f36c4d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f36c4d), to(#ef3e29));
  background-image: -webkit-linear-gradient(top, #f36c4d, #ef3e29);
  background-image:    -moz-linear-gradient(top, #f36c4d, #ef3e29);
  background-image:      -o-linear-gradient(top, #f36c4d, #ef3e29);
  background-image:         linear-gradient(to bottom, #f36c4d, #ef3e29);
}

.cta-red:before {
  border: solid 1px #f67b5f;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

.cta-red:hover {
  border: solid 1px #90332b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FB856A), to(#F7523F));
  background-image: -webkit-linear-gradient(top, #FB856A, #F7523F);
  background-image:    -moz-linear-gradient(top, #FB856A, #F7523F);
  background-image:      -o-linear-gradient(top, #FB856A, #F7523F);
  background-image:         linear-gradient(to bottom, #FB856A, #F7523F);
}

.cta-red:active {
  border: solid 1px #90332b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EF3E29), to(#F36C4D));
  background-image: -webkit-linear-gradient(top, #EF3E29, #F36C4D);
  background-image:    -moz-linear-gradient(top, #EF3E29, #F36C4D);
  background-image:      -o-linear-gradient(top, #EF3E29, #F36C4D);
  background-image:         linear-gradient(to bottom, #EF3E29, #F36C4D);
}

.cta-green {
  border: solid 1px #00922d;
  background-color: #00B638;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50DE76), to(#00B638));
  background-image: -webkit-linear-gradient(top, #50DE76, #00B638);
  background-image:    -moz-linear-gradient(top, #50DE76, #00B638);
  background-image:      -o-linear-gradient(top, #50DE76, #00B638);
  background-image:         linear-gradient(to bottom, #50DE76, #00B638);
}

.cta-green:before {
  border: solid 1px #78e695;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

.cta-green:hover {
  border: solid 1px #006e22;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5CEC82), to(#00C43C));
  background-image: -webkit-linear-gradient(top, #5CEC82, #00C43C);
  background-image:    -moz-linear-gradient(top, #5CEC82, #00C43C);
  background-image:      -o-linear-gradient(top, #5CEC82, #00C43C);
  background-image:         linear-gradient(to bottom, #5CEC82, #00C43C);
}

.cta-green:active {
  border: solid 1px #006e22;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00B638), to(#50DE76));
  background-image: -webkit-linear-gradient(top, #00B638, #50DE76);
  background-image:    -moz-linear-gradient(top, #00B638, #50DE76);
  background-image:      -o-linear-gradient(top, #00B638, #50DE76);
  background-image:         linear-gradient(to bottom, #00B638, #50DE76);
}

.cta-blue {
  border: solid 1px #0870c0;
  background-color: #007BDA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00C6FF), to(#007BDA));
  background-image: -webkit-linear-gradient(top, #00C6FF, #007BDA);
  background-image:    -moz-linear-gradient(top, #00C6FF, #007BDA);
  background-image:      -o-linear-gradient(top, #00C6FF, #007BDA);
  background-image:         linear-gradient(to bottom, #00C6FF, #007BDA);
}

.cta-blue:before {
  border: solid 1px #3bb4ec;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

.cta-blue:hover {
  border: solid 1px #065491;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#21CDFF), to(#0387EC));
  background-image: -webkit-linear-gradient(top, #21CDFF, #0387EC);
  background-image:    -moz-linear-gradient(top, #21CDFF, #0387EC);
  background-image:      -o-linear-gradient(top, #21CDFF, #0387EC);
  background-image:         linear-gradient(to bottom, #21CDFF, #0387EC);
}

.cta-blue:active {
  border: solid 1px #065491;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007BDA), to(#00C6FF));
  background-image: -webkit-linear-gradient(top, #007BDA, #00C6FF);
  background-image:    -moz-linear-gradient(top, #007BDA, #00C6FF);
  background-image:      -o-linear-gradient(top, #007BDA, #00C6FF);
  background-image:         linear-gradient(to bottom, #007BDA, #00C6FF);
}

.cta-yellow {
  border: solid 1px #db8300;
  background-color: #FF9900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#FF9900));
  background-image: -webkit-linear-gradient(top, #FFCC00, #FF9900);
  background-image:    -moz-linear-gradient(top, #FFCC00, #FF9900);
  background-image:      -o-linear-gradient(top, #FFCC00, #FF9900);
  background-image:         linear-gradient(to bottom, #FFCC00, #FF9900);
}

.cta-yellow:before {
  border: solid 1px #ffc63b;
  border-color: #EEE;
  border-color: rgba(255, 255, 255, 0.35);
}

.cta-yellow:hover {
  border: solid 1px #ad6800;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD322), to(#FFA51F));
  background-image: -webkit-linear-gradient(top, #FFD322, #FFA51F);
  background-image:    -moz-linear-gradient(top, #FFD322, #FFA51F);
  background-image:      -o-linear-gradient(top, #FFD322, #FFA51F);
  background-image:         linear-gradient(to bottom, #FFD322, #FFA51F);
}

.cta-yellow:active {
  border: solid 1px #ad6800;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#FFCC00));
  background-image: -webkit-linear-gradient(top, #FF9900, #FFCC00);
  background-image:    -moz-linear-gradient(top, #FF9900, #FFCC00);
  background-image:      -o-linear-gradient(top, #FF9900, #FFCC00);
  background-image:         linear-gradient(to bottom, #FF9900, #FFCC00);
}

.icon-download,
.icon-check,
.icon-go,
.icon-more {
  display: block;
  height: 50px;
  background: transparent url(sprite.png) no-repeat;
}

.icon-download, .icon-check {
  margin-left:-5px;
  padding-left: 37px;
}

.icon-go, .icon-more {
  margin-right:-5px;
  padding-right: 40px;
}

.icon-download {background-position: 0 -141px;}
.icon-check {background-position: 0 -66px;}
.icon-more {background-position: right 10px;}
.icon-go {background-position: right -212px;}

.cta-small {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}

.cta-small .icon-more {background-position: right 5px; height: 35px;}
.cta-small .icon-check {background-position: 0 -72px; height: 35px;}
.cta-small .icon-download {background-position: 0 -147px; height: 35px;}
.cta-small .icon-go {background-position: right -219px; height: 35px;}

.cta-big {
  font-size: 22px;
  height: 60px;
  line-height: 60px;
}

.cta-big .icon-download {background-position: 0 -136px; height: 60px;}
.cta-big .icon-check {background-position: 0 -61px; height: 60px;}
.cta-big .icon-more {background-position: right 15px; height: 60px;}
.cta-big .icon-go {background-position: right -207px; height: 60px;}

.cta-huge {
  font-size: 26px;
  height: 76px;
  line-height: 76px;
  padding: 0 26px;
}

.cta-huge .icon-download {background-position: 0 -128px; height: 76px;}
.cta-huge .icon-check {background-position: 0 -53px; height: 76px;}
.cta-huge .icon-more {background-position: right 23px; height: 76px;}
.cta-huge .icon-go {background-position: right -199px; height: 76px;}

.cta-subhead {
  padding: 20px 30px;
  font-size: 26px;
  line-height: 26px;
}

.cta-subhead i {
  color: #000;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0;
  font-weight: normal;
  font-style: normal;
  display: block;
  line-height: 26px;
  font-size: 14px;
}
