@font-face {
  font-family: 'call-to-action';
  src: url('font/call-to-action.eot?42648268');
  src: url('font/call-to-action.eot?42648268#iefix') format('embedded-opentype'),
       url('font/call-to-action.woff?42648268') format('woff'),
       url('font/call-to-action.ttf?42648268') format('truetype'),
       url('font/call-to-action.svg?42648268#call-to-action') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'call-to-action';
    src: url('../font/call-to-action.svg?42648268#call-to-action') format('svg');
  }
}
*/

 [class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: "call-to-action";
  font-style: normal;
  font-weight: normal;
  speak: none;

  xdisplay: inline-block;
  text-decoration: inherit;
  xwidth: 1em;
  xmargin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  xline-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  xmargin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-doc:after { content: '\e806'; } /* '' */
.icon-search:after { content: '\e800'; } /* '' */
.icon-mail:after { content: '\e803'; } /* '' */
.icon-check:after { content: '\e804'; } /* '' */
.icon-download:after { content: '\e805'; } /* '' */
.icon-go:after { content: '\e802'; } /* '' */
.icon-more:after { content: '\e801'; } /* '' */