@mixin cta($color, $hover, $active) {
  background-color: $color;
  color: contrast-color($color, #222, #FFF, 50%);

    &:hover {
      background-color: lighten($color, $hover);
    }

    &:active,
    &:focus {
      background-color: lighten($color, $active);
    }

}