@mixin cta($color, $hover, $active) {
  display: inline-block;
  padding: 0 20px;
  margin: 5px;
  color: #FCFCFC;
  font: normal 18px Arial, Helvetica, sans-serif;
  height: 50px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;

  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;

  background-color: $color;

    &:hover {
      background-color: lighten($color, $hover);
    }

    &:active,
    &:focus {
      background-color: lighten($color, $active);
    }

}
